button#logout {
    font-size: 16px;
    float: right;
    margin-right: 60px;
    margin-top: 10px;
    background-color: #2c2c2c;
    color: white;
    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    font-weight: bold;
}
button#logout:hover {
    border-bottom: 3px solid #2c2c2c;
    border-right: 3px solid #2c2c2c;
}
div#content-view {
    margin-top: 50px;
}