div#tables-contain button#load-more-logs {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    color: white;
    background-color: gray;
    font-size: 24px;
    border: 0;
    border-radius: 15px;
}
div#tables-contain button#load-more-logs:hover {
    background-color: #9e9e9e;
    color: black;
}
span.Issued {
    background-color: green;
    color: white;
    padding: 4px;
}
span.Revoked {
    background-color: red;
    color: white;
    padding: 4px;
}